/Code/TheCheaps/bin
/Code/TheCheaps/obj
/Code/TheCheapsServer/obj
/Code/TheCheapsServer/bin
Code/.vs/TheCheaps/DesignTimeBuild/.dtbcache.v2
Code/.vs/TheCheaps/v16/.suo
Code/TheCheaps/TheCheaps.csproj.user
/Code/TheCheapsLib/bin
/Code/TheCheapsLib/obj
/Code/TheCheapsServer/*.user
/Code/TheCheaps/Content/obj
/Code/TheCheaps/Content/bin
.vs
obj
bin
